[2017-03-21 12:59] shenki opened #1 "Does not work with 0.9.1 due to missing framebuf module"
[code]

According to the release notes, framebuf was removed from CircuitPython in 0.8.1:

https://blog.adafruit.com/2017/01/12/circuitpython-0-8-1-released/

[2017-03-21 13:15] shenki commented on #1
I assume this module was written to fix the issue:

 https://github.com/adafruit/micropython-adafruit-framebuf/releases

The documentation at https://learn.adafruit.com/micropython-hardware-ssd1306-oled-display?view=all needs updating

[2017-03-24 10:40] tannewt commented on #1
I've updated @tdicola's guide here: https://learn.adafruit.com/micropython-hardware-ssd1306-oled-display/software#adafruit-circuitpython-module-install

Thanks for the issue!

[2017-03-24 10:40] #1 closed, assigned to nobody

[2017-04-13 19:47] smart-t opened #2 "Not possible to print text in circuitpython to Feather M0 express with SSD1306 oled shield"
[code]

[2017-04-14 01:31] tannewt commented on #2
I'm going to move this to the framebuf repo. https://github.com/adafruit/micropython-adafruit-framebuf/issues/2

[2017-04-14 01:31] #2 closed, assigned to nobody

[2018-01-05 03:46] dhalbert opened #7 "not working with 128x64 product 938"
A user can't get much working with this 128x64 OLED: https://www.adafruit.com/product/938.
See https://forums.adafruit.com/viewtopic.php?f=60&t=128946.

I happen to have one of these and have confirmed the problem. `.invert()` works, and so does `.poweron()` and `.poweroff()`, but nothing else really. Reconfirmed that library works fine with a 128x32 FeatherWing.

[2018-01-05 15:58] deshipu commented on #7
Are we sure it's SSD1306 and not SH1106? The latter has very similar commands (including invert and power), but different way of accessing the display memory (SH1106 uses pages). I had exactly the same problem myself, and it turned out the display is SH1106 and not SSD1306.

I have a driver for the SH1106 for MicroPython that you could try and see if it works: https://bitbucket.org/thesheep/microp

[2018-01-05 16:15] dhalbert commented on #7
I'm adding reset-pin support to the library and it looks like it's all working out. The FeatherWing OLED has hardware reset support, so testing didn't encounter this issue. I just have to re-test the other combinations to make sure I didn't break something else.

[2018-01-05 16:23] deshipu commented on #7
Are you saying that it works when you reset it through the hardware pin?

[2018-01-05 16:25] dhalbert commented on #7
Yep, doing a reset makes it work fine. Part of `__init__()` is to call `.poweron()`. In the SPI subclass this toggles the reset pin. In the I2C class it just sends an I2C command. I made passing the reset pin possible (and optional) to the I2C instance, and if it exists, it will toggle it as well. I'll have a PR soon.

[2018-01-05 16:30] deshipu commented on #7
I wonder if we are missing something in the initialization sequence then — software reset should work as well.

[2018-01-05 18:02] ladyada commented on #7
nah, its def a hardware thing. basically these OLEDs need a clean reset on power on, for the featherwing i add a little resetter chip, but low cost or earlier-designed OLEDs didnt have it, so you have to manually reset.

[2018-01-05 18:06] #7 closed, assigned to dhalbert

[2018-03-25 20:58] owendelong commented on #1
@tannewt Um the URL where you claim to have updated @tdlcola's guide is a 404.

[2018-03-26 00:33] ladyada commented on #1
try https://learn.adafruit.com/micropython-hardware-ssd1306-oled-display/

[2018-03-26 01:14] owendelong commented on #1
Thx

[2018-11-16 13:15] ngmacha opened #12 ""No module named 'framebuf'" error running simpletest.py on RaspberryPi"
I'm trying to use the SSD1306 display on RaspberryPi (latest Stretch image) with CircuitPython.
Installed Blinka and other libraries as following:
`pip3 install RPI-GPIO`
`pip3 install adafruit-blinka`
`pip3 install Adafruit_CircuitPython_SSD1306`

The Blinka test was OK, however running the simpletest.py for SSD1306 gives the error that framebuf module is not found. Tried to install additional de

[2018-11-16 14:37] jerryneedell commented on #12
Try this:
get bitmapfont.py and font5x8.bin from https://github.com/adafruit/micropython-adafruit-bitmap-font  and put them in the same folder as this test code - saved as oled_test.py
[code]

I am able to then run this vis:
python3  oled_test.py

[2018-11-16 14:40] jerryneedell commented on #12
sorry -- also put framebuf.py  from https://github.com/adafruit/micropython-adafruit-framebuf in the same folder as the example and bitmapfont.py

[2018-11-16 16:37] ladyada commented on #12
just FYI because of all the complexity involved we're not quite read to support circuitpython for oled displays on linux. it *might* work :) but its not tested at all! we have a plain Python repo for now, with example code. long term, yes we'll be moving to this library only

[2018-11-16 16:53] jerryneedell commented on #12
Fair enough --  but it does work ;-)
![image](https://user-images.githubusercontent.com/15856834/48635486-47934480-e996-11e8-9700-1f33a830c3b6.png)

[2018-11-16 16:56] ladyada commented on #12
rad :)

[2018-11-16 16:56] ladyada commented on #12
jerryn, is that with framebuf? ar eyou using PIL to draw or just main framebuf - thats the thing we'd have to document is how to use PILlow

[2018-11-16 16:57] jerryneedell commented on #12
That is with framebuf.py and bitmapfont.py

[2018-11-20 12:26] ngmacha commented on #12
Yes, with the framebuf.py copied to the same folder with the test python script, here is what I've got - this is an I2C display from DigiSpark Pro Kickstarter campaign, on the shield with pull-up resistors:
![image](https://user-images.githubusercontent.com/883534/48772599-f5c02680-ecd5-11e8-9dd4-a5d4ace1a060.png)
However seems only every other line is illuminated, which is especially visible on t

[2018-11-20 12:43] ngmacha commented on #12
Sorry, looks like the display itself is faulty (fake, I guess), as only the same 32 lines shows up with own DigiSpark's OLED demo sketch... So I've already ordered a couple of Adafruit's 1.3 inch 128x64 OLEDs.
I think this issue can be now closed?

[2018-11-21 04:25] #12 closed, assigned to nobody

[2018-12-22 21:54] jerryneedell opened #15 "not working wth OLED Featherwing on nrf52840"
I just tried running the test  cases on a particle argon (nrf52840) with an OLED featherwing and I just get a screen full of random pixels. The same code works fine on a metro_m4 _express

All of the test cases (bouncing bali,simpletest and ssd1306_framebuftest have the same results so it is not just framebuf)
Note -- the default nrf builds still include the "built in" framebuf  but I tried it wit

[2018-12-22 22:04] jerryneedell commented on #15
It works fine with the SPI interface to a 128x32 SPI OLED -- just not working with I2C to the featherwing -- SPI does have a RESET so that may be the issue although the same board works fine on the metro_m4_express -- is there a way to get a RESET signal to the OLED featherwing? Looks like the SSD1306 reset on the OLED Featherwing is tied to board RESET -- I suppose some jumpering could be worked

[2018-12-22 22:57] deshipu commented on #15
Can you verify that it works after you press the reset button on the wing manually?

[2018-12-22 22:59] jerryneedell commented on #15
It does not. That also resets the argon.

[2018-12-22 23:02] jerryneedell commented on #15
I will try later with the boards separated.

[2018-12-23 00:10] jerryneedell commented on #15
separating the boards and pressing RESET or setting the RESET pin to a GPIO pin and passing it to the configuration makes no difference - still just a lot of white pixels.

[2018-12-23 00:36] jerryneedell commented on #15
I verified the same behavior on a PCA10056.

[2018-12-28 04:33] ladyada commented on #15
closing this in favor of the https://github.com/adafruit/circuitpython/issues/1422

[2018-12-28 04:33] #15 closed, assigned to nobody

[2018-12-28 14:30] jerryneedell opened #18 "add dependency for adafruit_framebuf"
Since framebuf is no longer going to be a "builtin" for most builds -- should adafruit_framebuf be added as a dependency for this library? I guess it could also be explained in the readme.md

[2018-12-28 15:15] ladyada commented on #18
is added in RTD file now!

[2018-12-28 16:58] #18 closed, assigned to nobody

[2018-12-28 20:44] jerryneedell opened #19 "happycat_oled_32.ppm is empty :-("
the file is zero length in the repo

[2018-12-30 12:24] jerryneedell commented on #19
fixed buy #20

[2018-12-30 12:24] #19 closed, assigned to nobody

[2019-01-10 01:38] tannewt opened #23 "TypeError: function missing 1 required positional arguments"
https://forums.adafruit.com/viewtopic.php?f=60&t=145925

[2019-01-10 14:41] ladyada commented on #23
weird, its definitely a something that happened when i moved to adafruit_framebuf because if i remove the 'import framebuf' and just use adafruit_ its ok, but the error isnt something i can see...like the error line number isnt where the error is?

[2019-01-10 14:50] jerryneedell commented on #23
I think this error occurs if the user has the old framebuf.py file on their board. May not be the issue here ...

[2019-01-10 14:52] ladyada commented on #23
in 3.x its frozen in... 😐

[2019-01-10 14:53] jerryneedell commented on #23
yes - unless they copied it over for some reason....

[2019-01-10 15:00] dhalbert commented on #23
(If this is the issue... not sure): If you move it out of lib and into the top level of CIRCUITPY it will get imported before the frozen one without messing with the standard`sys.path`.
[code]

[2019-01-10 17:46] caternuson commented on #23
Just confirming it's something in the SSD1306 lib. And not a frozen vs. local thing.

I recreated this. Feather M0 + OLED FeatherWing, all clean and latest everything:
[code]
I then stepped through previous versions of `adafruit_ssd1306` and got it to work at the 2.5.0 release.
[code]

[2019-01-10 18:03] ladyada commented on #23
nah its def using the built in one! thing is im not sure what line is actually failing :/

[2019-01-10 19:15] caternuson commented on #23
I think it's CP doing something with the inheritance and the `__init__` parameters. It's failing right at the instantiation as it's expecting...??? dunno, but not per code. A different failure:
[code]
FWIW - It works on RPi.
[code]

[2019-01-10 19:23] ladyada commented on #23
yeah thats cause on pi its using `adafruit_framebuf` - i messd with this for 30 minutes and couldn't figure it out. its something with the framebuf instantiation but according to the docs im doing it right :/

[2019-01-10 19:27] caternuson commented on #23
ok. goodluck. the weirdness is too deep for me. scuttling away ...... :crab:

[2019-01-26 08:55] eudoxos commented on #23
Is there any update on this? I am facing the same with the latest circuitpython 3.1.2 (cricket varianant, on Feather M0 Express) and latest adafruit_ssd1306 2.6.2. If I pass e.g. a reset pin as the 4th positional argument, I get `TypeError: object with buffer protocol required`. Can seomeone from Adafruit care to look at this, or at least state which exact "older version" of the module will work?

[2019-01-26 08:58] ladyada commented on #23
we dont know but we're also moving away from framebuf completely - so its a bit moot and probably not worth us doing a lot of hacking on this. next generation display stuff will be displayio only
note you wont have enough memory on a feather m0 to run crickit and an oled. a feather m4 will do fine and then you can install `adafruit_framebuf` on cpy 4.x and this all goes away

[2019-01-26 09:05] eudoxos commented on #23
Anyway, I would just appreciate documented workaround till cpy 4.0 is released.

I use crickit purely for memory considerations, thinking it will save some memory as I need to use use oled+motor. Anyway, M4 is on the way already and I will throw both M0s away happily.

[2019-01-26 09:13] eudoxos commented on #23
PS as someone who is not buying cheap clones to support your development, I'd expect better support than "your issue is a bit moot and it is not worth for us to spend time on it".

[2019-01-26 19:57] ladyada commented on #23
@eudoxos hiya we responded to your post in under an hour and we have a workaround for it, use `adafruit_framebuf` with circuitpython 4.x which is available right now

[2019-01-26 20:07] eudoxos commented on #23
I did not understand cpy 4.0 can be installed already. I will try, thanks.

[2019-01-28 02:27] Moving-Electrons commented on #23
@ladyada I'm afraid I have the same problem (feather M0 Express + OLED featherwing). Installed CP 4.0.0 (Alpha) and I get an error on the following line:

`oled = adafruit_ssd1306.SSD1306_I2C(128, 32, i2c, addr=0x3c)`

Tried including `reset=reset_pin` (after defining that pin), but I get the exact same error:

`
code.py output:
Traceback (most recent call last):
  File "code.py", line 40, in <mod

[2019-01-28 03:13] ladyada commented on #23
try deleting any 'framebuf.py' or 'framebuf.mpy' file

[2019-01-28 15:11] Moving-Electrons commented on #23
@ladyada I used a CP 4.0 build from 2019-01-27 (provided by Jerryn) and it worked fine (the 2019-01-23 build didn't work, though). Also, to make it work, I had to stop using the neopixel library. Apparently the M0 doesn't have enough memory to handle everything.

[2019-01-29 00:41] tannewt commented on #23
@eudoxos 4.0.0 Beta 1 is available here: https://github.com/adafruit/circuitpython/releases It's pretty stable despite being marked unstable.

[2019-02-16 18:59] everett1992 opened #24 "SSD1306_SPI TypeError: function expected at most 5 arguments, got 6"
I'm following [this spi oled guide](https://learn.adafruit.com/adafruit-oled-featherwing/circuitpython-and-python-usage#spi-initialization-8-15) to program my [128x32 SPI oled](https://learn.adafruit.com/2-3-monochrome-128x32-oled-display-module/overview) from a [feather m0 express](https://www.adafruit.com/product/3403).

I am running circuit python [3.1.2](https://github.com/adafruit/circuitpyth

[2019-02-16 19:05] ladyada commented on #24
odd - it should work, not sure what it is :/ can you use i2c?

[2019-02-16 21:16] everett1992 commented on #24
Will you update the guides to say that spi doesn't work?

[2019-02-16 21:26] jerryneedell commented on #24
@everett1992 just curious -- when did you last update the "bundle"? If it has been awhile, try updating to the current 3.x release.

[2019-02-16 21:44] everett1992 commented on #24
@jerryneedell Today, extracted from `adafruit-circuitpython-bundle-3.x-mpy-20190216.zip`, downloaded from https://github.com/adafruit/Adafruit_CircuitPython_Bundle/releases/tag/20190216,
linked from https://learn.adafruit.com/adafruit-feather-m0-express-designed-for-circuit-python-circuitpython/circuitpython-libraries

[2019-02-16 21:54] jerryneedell commented on #24
FYI - I just tried the code above on a Feather_m4_express with CP 4.0 beta  and it works normally
[code]
I realize that may not help you, but the 3.x and 4.x libraries "should" be the same.
Not sure what is wrong.

[2019-02-16 22:09] jerryneedell commented on #24
one suggestion is to make sure you do not have an "old" version of adafruit_ssd1306.py or .mpy on your feather_m0. I've gotten caught by that.

[2019-02-16 22:09] kyp44 commented on #24
I am having the same issue. It seems to be something odd happening where the SPI object is trying to use it's base class's constructors. I am running CP 3.1.2 with the 3.x bundle as well.

[2019-02-16 22:11] kyp44 commented on #24
I am definitely not using an old version of adafruit_ssd1306.py. I am using the latest .py version from GitHub directly (not using the .mpy) and if I remove it I get a module not found error.

[2019-02-16 22:12] everett1992 commented on #24
@jerryneedell I don't have an old version of adafruit_ssd1306.py, I cleared the filesystem with `storage.erase_filesystem()` before filing the ticket.

I've installed cp 4.x and it's 4.x libraries and now the code is working.

Is is possible that the feb 16th 2019 release of cp 3.x is bad?
https://github.com/adafruit/Adafruit_CircuitPython_Bundle/releases/tag/20190216

[2019-02-16 22:12] kyp44 commented on #24
Like everett1992 I am using a Feather M0 express board so maybe it's something specific to this board.

[2019-02-16 22:15] jerryneedell commented on #24
hmm-- glad it is working under 4.x  -- clearly some issue with either 3.1.2 and/or the 3.x library.  That's a great clue.

[2019-02-16 22:28] kyp44 commented on #24
everett1992, what 4.0.0 beta version are you using? With Beta 2 the framebuf has been removed so it cannot find that module.

[2019-02-16 22:31] everett1992 commented on #24
@kyp44 4.0.0-beta.2

[adafruit-circuitpython-feather_m0_express-en_US-4.0.0-beta.1.uf2](https://github.com/adafruit/circuitpython/releases/download/4.0.0-beta.1/adafruit-circuitpython-feather_m0_express-en_US-4.0.0-beta.1.uf2) from the [circuitpython/releases page](https://github.com/adafruit/circuitpython/releases)

[2019-02-16 22:34] everett1992 commented on #24
The display is working but the image is poor. Calling `oled.fill(1) oled.show()` only draws every other line, with a few dead pixels on the end. But this feels like a hardware issue, not a software issue.

[2019-02-17 00:01] ladyada commented on #24
ever, sounds like its a mixup with chipsets or resolutions!

[2019-02-17 02:34] kyp44 commented on #24
@everett1992 I'm seeing the exact same thing on my screen. I'm using the 128x32 OLED. You?

[2019-02-17 03:33] kyp44 commented on #24
[@everett1992 FYI I figured out the screen issue (with my screen anyway). Mine uses the SSD1305 chip, which supports screen resolutions of up to 132x64. Evidently the way my screen is setup of that the chip is expecting a buffer of this size even though the actual screen is smaller (128 x 32).

It worked wonderfully when I set the resolution to 132 x 64 in the SSD1306_SPI construtor. Then pixel 0,

[2019-02-17 18:51] everett1992 commented on #24
@kyp44 Thanks that's working great now.

@ladyada Should the docs mention the framebuffer size?

I'm fine closing this issue, but someone should look into the issues with this library in circuit python 3.1.2.

[2019-02-20 03:53] kenidowa commented on #23
I was seeing this same issue on 3.1.2 when I was doing a mpy-cross of the adafruit-ssd1306.py file but not when I used the original .mpy for 3.0 lib.  I am playing around with a sh1106 oled and was modifying the ssd1306.py now since this sounds fixed in 4.0 beta-2 is there a mpy-cross for 4.0 available to try with the sh1106.py file I am trying to use?  I have downloaded 4.0beta2 and the associate

[2019-02-20 04:03] ladyada commented on #23
this thread isn't relevant for raspbian - on linux you will always end up using adafruit_framebuff. we don't have an sh1106 library tho. if you write one please submit it to the bundle!

[2019-02-20 17:56] kenidowa commented on #23
Let me clarify comment.  I am using the OLED display on a itsy-bitsy M4 and on a Trinket M0.  The SH1106 code I am trying to use is from your Contributed Bundles.  I am using the Raspberry Pi as my host computer and was included the Raspbian-Stretch as a reference for the MPY-CROSS to convert the SH1106.py code to a mpy version to add to the lib file on my Itsy-Bitsy M4 using the 4.0 Beta 2 versio

[2019-02-20 18:01] ladyada commented on #23
i'd say try to get it working on the M4 first, with 4.x beta 2 - you dont need to mpy the library on an M4 as there's plenty of memory. but the library may be out of date because its contributed. it will need to be updated to `adafruit_framebuf` as this one was!

[2019-02-20 19:27] kenidowa commented on #23
Thanks for the input.  I made those changes to the Contributed Bundles file for sh1106 and it WORKS!  Loaded in lib on board as adafruit_sh1106,py.  Need to try more things but bouncing_ball.py works from the contibuted examples for it.  Running on an ItsyBitsyM4.

[2019-02-20 19:30] ladyada commented on #23
awesome! when you have a chance please submit a PR or issue fix to that library so others can use it too :)

[2019-02-20 22:45] kenidowa commented on #23
Doing some testing.  Looks like some of the functions such as rect, text from adafruit_framebuf don't work yet.  Will look into issue fix after more testing.  PR?

[2019-02-20 22:45] ladyada commented on #23
they should ? but yeah send a PR if you find any bugs :)

[2019-03-01 22:50] kenidowa commented on #23
I have found 2 issues with this but I don't think they are in the sh1106,py code.
rect in framebuf causes an Attribute Error:  SH1106_I2C object has no attribute 'rect'.
scroll in framebuf causes a TypeError: function takes 1 positional arguments but 3 were given.
I don't have a SD1306 display so haven't try these on one.  They may have the same problems.  Looking at adafruit_framebuf I don't see

[2019-04-28 02:29] Infer4Y commented on #23
My guess is when I add None to the 4 positional argument it is looking for a `TypeError: object with buffer protocol required`.

[2019-06-10 19:10] peppekerstens commented on #23
FWIW:

**Hardware**
- ItsyBitsy M4 Express
- Lolin v1.1.0 OLED shield

**Software**
- CircuitPython 3.1.1 on 2018-11-02 (default install when arrived)
- https://github.com/adafruit/Adafruit_CircuitPython_SSD1306 local copy zipped and copied over to M4

**Issue**
the same as described.

**Fix**
Basically: https://forums.adafruit.com/viewtopic.php?f=60&t=145925#p726277

- latest CircuitPython (4.0.1

[2019-06-10 19:19] peppekerstens opened #27 "Examples: no clear instructions on where to get depended PIL library and/or no separate example on text display"
issue text should be clear enough (i hope) :)

[2019-06-10 19:19] ladyada commented on #27
@kattni please add a note to the top of the linux examples that they are for linux!

[2019-06-11 05:07] peppekerstens commented on #27
@ladyada and @kattni ; I am sorry, should have RTFM better;  after re-reading, the examples clearly say that they are for Linux.... :|

Would still be nice to include a example on how to accomplish text on 'pure' CircuitPython devices.  :)

[2019-06-11 05:17] ladyada commented on #27
https://github.com/adafruit/Adafruit_CircuitPython_SSD1306/blob/master/examples/ssd1306_framebuftest.py

https://learn.adafruit.com/adafruit-oled-featherwing/circuitpython-and-python-usage#text-8-27

[2019-06-11 16:04] kattni commented on #27
I took a look at it and found they had a note already as well. Glad we figured it out!

Closing.

[2019-06-11 16:04] #27 closed, assigned to nobody

[2019-06-11 16:04] kattni commented on #23
@peppekerstens Thank you for all the details! I will close this issue.

[2019-06-11 16:04] #23 closed, assigned to nobody

[2019-07-24 14:23] ric96 opened #28 "I2C: garbage output on DragonBoard410c"
I get garbage OR whatever was there on the last frame displayed on the display, and the code hangs for a long time.
Here is an example of the oled displaying the last frame, while running the demo code in readme:

![](https://i.imgur.com/wy75vAe.jpg)

This library is working as expected, so at least its not hw.
https://github.com/codelectron/ssd1306

[2019-07-24 16:14] ladyada commented on #28
do you know for sure that display is SSD1306? knockoffs often use other chipsets

[2019-07-24 18:39] deshipu commented on #28
In particular, SH1106 is very popular, but sadly it doesn't support the addressing mode that SSD1306 uses by default (so most drivers won't work).

[2019-07-24 20:05] ric96 commented on #28
I've tried this display with Arduino, Zephyr, MRAA and the above mentioned library all worked fine so i'm assuming its SSD1306.

[2019-07-24 20:52] makermelissa commented on #28
What is the exact code that you're running and what are the dimensions of that display? I'd like to test it out on a similar setup with an equivalent Adafruit display.

[2019-07-25 16:18] makermelissa commented on #28
A couple of things I just thought of are if this is running on the DragonBoard 410c and you're using a logic level shifter:

1. Make sure it's I2C Safe such as https://www.adafruit.com/product/757
2. Make sure VCC is 3.3v and not 5V or at least the same voltage as the logic levels.

[2019-07-25 19:08] ric96 commented on #28
@makermelissa running the code that is in the  Readme of this repo under usage example.
I've got a bmp280 working fine with this very setup.
I've separately tried a 128x32 and 128x64 oled display. Both of these had the i2c address set to 0x3c if that helps.
Again, the display works fine using another library so i think I'm good on the level shifter end.
PS. Using the [Audio Mezzanine](https://www.

[2019-07-29 20:59] makermelissa commented on #28
Hi, I finally got around to testing with https://www.adafruit.com/product/931 on the DragonBoard and can confirm that the issue occurs (random dots plus hanging) with Adafruit displays as well.

[2019-07-29 21:03] makermelissa commented on #28
After hitting Control-C and waiting a couple minutes, I finally got this error output in addition to the expected keyboard interrupt error:
[code]

[2019-07-31 18:39] makermelissa commented on #28
I wonder if this is related to https://github.com/adafruit/Adafruit_Python_PureIO/issues/4

[2019-07-31 18:41] ladyada commented on #28
probably not, smbus is the native I2C library/interface, havint it in pureio would be rad, but its really not essential. also repeated start isnt used on this display

[2019-07-31 18:42] makermelissa commented on #28
Ok, good to know :)

[2019-09-09 09:02] ric96 commented on #28
Hi,
any updates on this?

[2019-09-09 18:18] makermelissa commented on #28
Hi, thanks for checking in. I was planning on taking another look at this later this week.

[2019-09-11 23:39] makermelissa commented on #28
I think I may have found something in that Blinka has trouble with i2c write-only devices on certain boards (DragonBoard 410c and Jetson Nano I've found). I'm looking into this further.

[2019-09-26 19:48] makermelissa commented on #24
Closing because CPy 3.1.2 is not supported anymore. If this issues occurs in more recent versions, please feel free to reopen.

[2019-09-26 19:48] #24 closed, assigned to nobody

[2019-10-28 07:51] Marvv90 opened #35 "Display Rotate?!"
Hi ,

How can Rotate the Display at 180° Degrees ???

SOLVED: disp.rotation = 2

[2019-10-28 12:00] #35 closed, assigned to nobody

[2020-01-20 21:49] makermelissa commented on #28
This might just need a reset line hooked up. I've seen similar behavior with microcontrollers. That solution will probably only work with the displays that have a reset line though.

[2020-01-20 22:01] makermelissa opened #38 "Sphinx build error"
I saw this during a release. Re-running tests didn't help.
[code]

[2020-01-21 03:20] makermelissa commented on #38
It looks like the correct url is "https://circuitpython.readthedocs.io/projects/busdevice/en/latest/objects.inv". Now to find where it needs changing...

[2020-01-21 03:33] #38 closed, assigned to nobody

[2020-01-21 05:08] tannewt opened #40 "Add colstart kwarg"
Use it instead of special casing colstart based on display width. It shouldn't be assumed because it is up to the display's manufacturer.

[2020-02-18 08:48] mrsstaceyseigle opened #41 "font or text size"
I am using the example code that prints hello world with white border.
Is there a way to increase the text size?

[2020-02-18 15:48] ladyada commented on #41
yes pass in size kwarg
https://github.com/adafruit/Adafruit_CircuitPython_framebuf/blob/master/adafruit_framebuf.py#L335

[2020-02-18 15:48] #41 closed, assigned to nobody

[2020-02-18 18:34] mrsstaceyseigle opened #42 "Text Size for Adafruit_CircuitPython_SSD1306/examples/ssd1306_stats.py"
I have ip address being displayed only from the example SSD1306_stats.py
the text is very small how do we increase.

Adafruit_CircuitPython_SSD1306/examples/ssd1306_stats.py

[2020-02-18 18:34] ladyada commented on #42
hi @mrsstaceyseigle github issues are not a good place for tech support. if you purchased from adafruit please post in the forums.

[2020-02-18 18:34] #42 closed, assigned to nobody

[2020-05-04 21:09] kattni commented on #28
@makermelissa What is the status of this?

[2020-05-04 21:27] makermelissa commented on #28
Unknown at this time. I can take another look after I finish the I2C bitbangio library, which might be the solution to this.

[2020-05-21 18:18] Siddhi04 opened #46 "Is there an equaivalent solver like MATLAB's vpasolve in Python"

[2020-05-21 18:29] ladyada commented on #46
it does not seem your issue have to do with SSD1306 library??

[2020-05-26 22:41] #46 closed, assigned to nobody

[2020-07-26 04:56] DoctorWho8 opened #47 "Using the download functions from the target produces the word "download" as the download"
Hello!
I have that file, "stats.py" running on an OLED attached to a Pi Zero WH. I needed to screenscrape a raw text of the file and paste that into the editor, because using the download methods, such as pointing the wget command to the URL that corresponds to the code did exactly the same as the subject, on a Pi3A board running the same release of PiOS and the tools described on the same page as

[2020-07-26 17:02] ladyada commented on #47
hi, yes thats why we recommend copy & pasting it, most people are ssh'd in anyways
https://learn.adafruit.com/adafruit-pioled-128x32-mini-oled-for-raspberry-pi?view=all#verify-i2c-device-3024321-11

[2020-07-26 17:02] #47 closed, assigned to nobody

[2020-08-23 20:36] arrow53 opened #49 "Possible to use this library on i.mx8m mini board?"
I'm trying to use the qwiic version of the adafruit ssd1306 oled with a i.mx8m mini board

https://boundarydevices.com/product/nitrogen8m-mini/

I'm using yocto/dunfell. This part seems to show up fine
[code]

But, when I try to run the examples I can't get past the import board line

[code]

Should I continue to pursue this or is this just going to be a difficult path? Where should I start?

[2020-08-25 15:12] herrmanthegerman opened #50 "Example code not helpful - draws black on black"
I assume that the example code given on _README.rst_ should be considered a "smoke test" or "hello world" program to enable the user to check that his/her display can be addressed and is basically working.

That said, with executing `display.fill(0)` it draws a black background on my black display. I didn't see any change at all.

I suggest to change this to `display.fill(1)` so it draws some othe

[2020-08-25 15:15] ladyada commented on #50
sure, please submit a PR to revise it!

[2020-09-11 16:39] desertsagebrush commented on #50
This should be fixed now, by mirroring the code in `examples/ssd1306_simpletest.py`.

[2020-12-03 09:13] adamcandy opened #52 "64x32 displays skip every other horizontal row"
Fantastic this library presents a straightforward and easy interface to these displays.
In the case of the smaller 64x32 ssd1306-based OLED displays, it is not possible to use half of the rows (every other row is skipped).

[2020-12-03 09:21] adamcandy commented on #52
This issue is fixed with the pull request #53

[2020-12-06 12:19] adamcandy commented on #52
Fix in #53 has been merged in -- thanks for getting this in quick @tannewt!

[2020-12-06 12:19] #52 closed, assigned to nobody

[2021-01-17 21:33] halxinate opened #55 "Not building per instructions"
Tried to follow the new instructions here https://learn.adafruit.com/monochrome-oled-breakouts/python-setup on Debian (OctoPi).

[code]
Getting in the end:
[code]

[2021-01-17 21:41] halxinate commented on #55
N/M I guess. Followed your readme and it need s Python >3.5.0
Just sad then.

[2021-01-17 21:46] #55 closed, assigned to nobody

[2021-01-17 21:47] ladyada commented on #55
https://learn.adafruit.com/circuitpython-on-raspberrypi-linux/installing-circuitpython-on-raspberry-pi has instructions :)

[2021-02-20 16:51] adamcandy opened #56 "Displays random patterns on show() for some screens"
After extending the library for 64x32 screens (#53 b92bf18) a new batch of screens fail to work!
Following show(), just random data is shown on screen.
It is possible to adjust the contrast, so the displays seem operational, but there is something up with the framebuffer/RAM/correct addressing.

[2021-02-20 17:16] adamcandy commented on #56
This issue is fixed with the pull request #57

[2021-02-20 17:21] adamcandy commented on #56
Possibly these other displays are SH1106 not SSD1306, which unlike the latter, only support page addressing mode.
See comments in this [Arduino forum](https://forum.arduino.cc/index.php?topic=256374.15) and also mentioned in issue #28.

[2021-02-20 17:28] adamcandy commented on #28
It looks like you are seeing recognisable data on the screen, so it is possibly not the same issue as #56, but you could try using Page Addressing Mode in pull request #57.  @ladyada  and @deshipu hinted this could be the issue if the display is using SH1106 hardware instead of SSD1306.  (and @ric96, even if other libraries work this is no guarantee this is a SSD1306 - I've used other libraries wh

[2021-02-23 18:06] #56 closed, assigned to nobody

[2021-02-28 12:13] dattrax opened #58 "SPI mode has been broken with the last set of commits 'AttributeError SSD1306_SPI has no object page_address'"
I got it back working by adding

self.page_addressing = page_addressing

in the SSD1306_SPI class

[2021-03-02 20:44] adamcandy commented on #58
Hi @dattrax, thanks very much for pointing this out.  Great you have been able to test the new updates with SPI displays -- and sorry that the new page addressing code has broken use of the SPI class.
I agree your suggested fix is appropriate and the best solution.  This is implemented in pull request #59.

[2021-03-02 20:45] adamcandy commented on #58
It would be interesting to hear if there are any SPI displays that do not work with horizontal addressing mode and may also need use of page addressing instead.

[2021-03-03 16:24] #58 closed, assigned to nobody

[2021-04-13 16:44] #50 closed, assigned to nobody

[2021-04-21 10:57] jposada202020 commented on #40
@tannewt
if I understand correctly you want changes in the `32` value here, and change it to a parameter in the constructor?
https://github.com/adafruit/Adafruit_CircuitPython_SSD1306/blob/3b350ba2654943f66a8c231c6795891ca39b535f/adafruit_ssd1306.py#L72
Defaulting to `32`
Let me know I will proceed with PR  Thanks

[2021-04-21 22:21] tannewt commented on #40
I'm not sure. I think the 32 might be packing the value into the registers. colstart may replace self.width instead. It's been a while since I've looked at this.

[2021-04-21 23:06] jposada202020 commented on #40
No problem, So I will need to test then to verify `behavior.` Ill do it over the weekend. Thanks

[2021-04-22 23:18] jposada202020 commented on #40
@tannewt

# Findings
Options for page addressing are disable by default:
https://github.com/adafruit/Adafruit_CircuitPython_SSD1306/blob/3b350ba2654943f66a8c231c6795891ca39b535f/adafruit_ssd1306.py#L218 and introduced in PR #57

I changed this to `True` and using an Adafruit  0.91" OLED display I got
[code]
Could not figure out why the `32` is using here, after my initial google research. Be aware

[2021-04-23 16:46] tannewt commented on #40
Oh! The other context might be the displayio driver: https://github.com/adafruit/Adafruit_CircuitPython_DisplayIO_SSD1306/blob/master/adafruit_displayio_ssd1306.py#L65

[2021-04-23 17:54] adamcandy commented on #40
@jposada202020, the `RuntimeError: Function requires lock` error looks unrelated to the main thread here.  I did not see this error and am running this exact code route successfully (i.e. down to the same i2c version of `write_framebuf`).  It is likely a difference in resilience of supporting libraries in the environment.

A good possibility here is that the lock of the i2c_device cannot be obtain

[2021-04-23 18:01] adamcandy commented on #40
Also, instead of modifying the source to set `page_addressing=True` on line 218, you can just simply provide this option to the function:
`adafruit_ssd1306.SSD1306_I2C( ... , page_addressing=True)`

e.g. something like:
[code]

[2021-04-23 18:28] adamcandy commented on #40
I am a bit confused on the main thread, since the piece of code @jposada202020 refers to in reply to the OP of @tannewt is new and did not exist when this issue was opened!

This new code also **only** applies to the Page Addressing Mode and is not used in the default Horizontal Addressing Mode.  This could though be the correct move.  This calculation was based on documentation for several of the

[2021-04-23 18:45] adamcandy commented on #40
While I'm looking at this, in response to @tannewt's comment: https://github.com/adafruit/Adafruit_CircuitPython_SSD1306/issues/40#issuecomment-825783172

Looking at the logic that went in with https://github.com/adafruit/Adafruit_CircuitPython_SSD1306/commit/b92bf18490e94e7ed7e034b0645157aa2a87407e in this library, the logic in the corresponding displayio equivalent [adafruit/Adafruit_CircuitPyth

[2021-04-23 20:04] jposada202020 commented on #40
@adamcandy Thank you for all the answers, it is more clear know :)

Agree I found that very quickly, in order to do my tests I had to completely disconnect the screen from the I2c connector to leave it without any source of power,.

`To me it looks like @tannewt was referring to the logic in the show function lines 175--194, which shifts SET_COL_ADDR depending on display width. (Note here only for

[2021-04-26 22:04] tannewt commented on #40
I'm supportive of supporting more displays. My idea is for the driver to be for the chip rather than a single chip and display combination. I think the combinations are better supported in examples or separate "init everything" libraries.

[2021-04-29 09:26] adamcandy commented on #40
Glad my comments have been useful @jposada202020 :)

It looks like before we tackle the main thread of this 'enhancement' there's a bug to sort first -- the backtrace you see

I do not expect this is related to the various parameters and logic needed for specific displays, but that the i2c_device is not being used cleanly -- potentially a bug in the code recently added:

I have made a simple chang

[2021-04-29 11:44] jposada202020 commented on #40
Thank you very much :) will try that tonight :) and let you know the results.

Thanks again

[2021-04-29 17:42] jposada202020 commented on #40
![20210429_133211_1](https://user-images.githubusercontent.com/34255413/116594436-32a19600-a8f0-11eb-9111-15b23521ff58.gif)

We are improving, no error, however I think we have some problems in the way we are referencing the page address, the screen limits are displaced somehow as you can see in the gif.

@adamcandy

[2021-04-29 18:07] adamcandy commented on #40
Perfect! This is what we expected and hoped.  So the code changes fix the locking error you have experienced.  I will create a PR to update the main branch here.

Then we can work on the parameters.  Just one thought - if this is a stock Adafruit display, it should be SSD1306-based and support Horizontal Addressing Mode. So if page_addressing is left set to False it should work fine as expected -

[2021-04-29 18:29] jposada202020 commented on #40
Yes, works fine. strange..
![20210429_142156_1](https://user-images.githubusercontent.com/34255413/116600166-ffaed080-a8f6-11eb-9761-82e113db2831.gif)

[2021-04-29 18:53] adamcandy commented on #40
Again, perfect! Just as expected.  This means the parameters for Page Addressing Mode need some adjusting for 128x32 displays.  It could be a number of things -- e.g. the COM_PIN_CFG is different for 128x32 displays (see the table above) but it could be this is only for Horizontal Addressing Mode.  Could also be the packing/row number 32 discussed above.  We should check, but it could also be that

[2021-04-29 19:21] jposada202020 commented on #40
For me, I would say no,  for me is difficult to code without testing, because strange things could happen like the circle getting out of the limits...
And I have already 1 too many oled displays 😄 ...
@tannewt  My proposition is.. I could merge the PR from @adamcandy it solves the I2C lock, and if someone with the hardware could implement and test we could add it that way, and close the issue for

[2021-04-30 17:49] tannewt commented on #40
@jposada202020 Sounds good. The lock fix PR looks correct to me.

[2021-04-30 18:11] jposada202020 commented on #40
Closing,
Thanks again @adamcandy  :)

[2021-04-30 18:11] #40 closed, assigned to nobody

[2021-05-03 19:24] snoring-pigeon opened #62 "Suspected wrong value for Page Addressing Mode command."
Section 10.1.3 of the SSD1306 datasheet says that

"Set Memory Addressing Mode (20h)"

takes value

Page addressing mode (A[1:0]=10xb)"

but the SSD1306 driver uses 0x10 for Page Addressing. I think it should be 0x02.

https://github.com/adafruit/Adafruit_CircuitPython_SSD1306/blob/14739573f6a328d037f7693d20147ff0e943a057/adafruit_ssd1306.py#L102

[2021-05-03 22:47] jposada202020 commented on #62
Thanks @snoring-pigeon I think it will depend on the display, I saw that configuration in some of the spreadsheets, however I have just tested this in the display and these are the results.
![20210503_184302_1](https://user-images.githubusercontent.com/34255413/116942573-d5834880-ac3f-11eb-82f6-7eac04f65309.gif)

[2021-05-04 14:49] snoring-pigeon commented on #62
Thanks for checking it out; assuming I'm looking at the correct datasheet, the SSD1306 doesn't care about bits 7-2, so 0x10 should have the same effect as 0x00 (horizontal mode).

I'm still trying to get my head around the addressing; I never imagined there would be so many ways to organize so few bytes of RAM!

I'll close this, and reopen if needed when I understand more.

[2021-05-04 14:49] #62 closed, assigned to nobody

[2021-05-09 01:24] spiritedfang opened #63 "Manjaro ARM Linux - "Setup can't determine the value of PAGE_SIZE on your system""
When I try running `sudo pip3 install adafruit-circuitpython-ssd1306`, I get the following that prevents me from continuing:

[code]

[2021-06-04 10:24] efirshik opened #65 "please add support orange pi one plus (H6)"
this gpio pinout
![1](https://user-images.githubusercontent.com/43796942/120787485-76676b00-c540-11eb-99a2-fb6473c65b4f.jpg)
![2](https://user-images.githubusercontent.com/43796942/120787498-79625b80-c540-11eb-90fe-a01ef12c0592.png)

python3 ssd1306_stats.py
`Traceback (most recent call last):
  File "ssd1306_stats.py", line 12, in <module>
    from board import SCL, SDA
  File "/usr/local/lib/pyt

[2021-06-04 14:18] ladyada commented on #65
hi - this is a duplicate of https://github.com/adafruit/Adafruit_Blinka/issues/481
stick to one issue please

[2021-06-04 14:18] #65 closed, assigned to nobody

[2021-09-27 17:25] FoamyGuy opened #68 "Missing Type Annotations"
There are missing type annotations for some functions in this library.

The `typing` module does not exist on CircuitPython devices so the import needs to be wrapped in try/except to catch the error for missing import. There is an example of how that is done here:

[code]

Once imported the typing annotations for the argument type(s), and return type(s) can be added to the function signature. Here

[2021-10-22 21:34] gamblor21 commented on #68
Fixed in #69

[2021-10-22 21:34] #68 closed, assigned to nobody

[2021-11-07 13:26] roryjamesallen opened #70 "Usage Example code requires two runs on Pico using Thonny before screen actually updates"
When running the example code (or seemingly any code using the module) on a Raspberry Pi Pico using Thonny IDE the code must be run twice before any changes to the display made in code are visible on screen.
It consistently is exactly 2 runs before changes are visible, and the changes are always visible after 2.

I have tried implementing a delay both before the refresh, and before a second code r

[2021-11-08 17:47] tannewt commented on #70
Does this occur when you use Mu or another editor? Thonny loads code in a unique way that may be causing this.

[2021-11-08 21:10] #70 closed, assigned to nobody

[2021-11-08 21:11] roryjamesallen commented on #70
That fixed it, thank you!

[2022-01-16 11:30] ditricsd opened #71 "RPi Pico SSD 1306 I2C Serial Console Appears on Display"
Hi!

I'm trying to use an SSD1306 OLED display with RPi Pico using CircuitPython. My Problem is when I power on the RPi the test drawing works fine on the display, but after changing something in the code and saving to the RPi, the serial monitor appears on the OLED display (also works in the editor) and stops with an error, saying that the GP11 IO is in use (SCL connection for the display). The d

[2022-01-16 16:48] ladyada commented on #71
try add `displayio.release_displays()` at the first line of code?

[2022-01-16 17:01] ditricsd commented on #71
Cool! It works perfectly! Thank You!

[2022-01-16 17:01] #71 closed, assigned to nobody

[2022-01-26 02:32] andrewerrington commented on #28
Hello. I'm trying to use this library with a 1.3" OLED in place of a 0.96" OLED in this project:
https://github.com/sethvoltz/OctoPrint-DisplayPanel

The 0.96" OLED is probably an SSD1306, which works. The supplier of the 1.3" OLED claims it is based on SSD1306, but I suspect it's actually SH1106. The back of the PCB says 1.30"IIC V2.0, and the OLED flex cable has GME12864-70 printed on it. I have

[2022-01-27 01:36] andrewerrington commented on #28
Never mind. I decided to go with luma.oled [here](https://luma-oled.readthedocs.io/en/latest/index.html) which supports SSH1306 and SH1106 (and others).

[2022-04-06 19:36] muranyia opened #72 "Black screen with SPI"
I can initialize the display but the example code gives me black screen. The same display works with I2C.
[code]
[code]

[2022-04-06 19:38] ladyada commented on #72
is the display in SPI mode?

[2022-04-06 20:28] muranyia commented on #72
Yes, the jumper is on (contrary to the wrong label).

[2022-04-19 15:26] muranyia commented on #72
I tested with each SPI mode (afaik the default is Mode 0 and the ssd1306 uses Mode 3) and different baudrates, still black screen. Unfortunately I have no other SPI peripheral at hand to test the bus itself.

[2022-04-19 16:03] caternuson commented on #72
By "on", do you mean the J1/J2 jumper traces are cut?
https://learn.adafruit.com/monochrome-oled-breakouts/wiring-128x64-oleds#step-3050993

[2022-04-19 16:44] muranyia commented on #72
A have soldered an actual jumper on the terminals. When I open the jumper, the display works fine with i2c. For SPI I close the jumper.

[2022-04-19 16:48] caternuson commented on #72
Were the jumper traces also cut?

[2022-04-19 17:08] muranyia commented on #72
It's a 3rd party product that I'm connecting to the feather M4 Express. it's almost identical to the old AdafFruit ssd1306.
Do you think I have soldered my jumper over the two pairs of terminals, effectively  closing them? :-o
Let me take it off and I'll come back.

[2022-04-19 17:26] makermelissa commented on #72
Hi, please contact the manufacturer for support with that display. Unfortunately we don't have the schematics or hardware so we're unable to debug. If you do figure it out and want to submit a PR, we'd be happy to take a look. Thanks.

[2022-04-19 17:26] #72 closed, assigned to makermelissa

[2022-04-19 18:37] muranyia commented on #72
It was me soldering the jumpers together - your questions helped me find the problem. Thanks!

[2022-04-19 19:47] makermelissa commented on #72
Awesome. I'm glad it was something simple for you.

[2022-07-07 06:11] hurricane88888 opened #73 "ROCK3A is not support"
Hope to support Rockpi3A

[2022-07-10 17:53] ladyada commented on #73
you can add an issue here
https://github.com/adafruit/Adafruit_Blinka/issues

[2022-07-10 17:53] #73 closed, assigned to nobody

[2022-09-07 07:17] TimonPeng opened #76 "Initialize display cmd"
Why initialize display cmd is big difference from with the previous repo and u8g2 too. Where does it come from?

https://github.com/adafruit/Adafruit_CircuitPython_SSD1306/blob/main/adafruit_ssd1306.py#L116

[code]

https://github.com/adafruit/micropython-adafruit-ssd1306/blob/master/ssd1306.py#L40

[code]

https://github.com/adafruit/Adafruit_CircuitPython_DisplayIO_SSD1306/blob/main/adafruit_dis

[2022-09-07 17:09] TimonPeng commented on #76
Theoretically the ssd1309 is partially compatible with the ssd1306, but the different drivers above show different results and I would like to know what the standard is..

[2022-10-07 15:46] Andrei631 opened #77 "Adafruit_SSD1306 library not working on micropython with blinka"
I am trying to use a SSD1306 display with a raspberry pi pico w, and i can't get it to work because of this error:
![image](https://user-images.githubusercontent.com/36139150/194593057-6592d9d0-9001-4595-9ddd-8136aa90119c.png)
[code]

[2022-10-07 19:01] tekktrik commented on #77
Looks like the `format` argument isn't given to MicroPython's `framebuf.FrameBuffer`, whereas it's auto-populated in CircuitPython.  I can submit a fix for this, would you be willing to test it for me?

[2022-10-08 05:57] Andrei631 commented on #77
Yeah, I am willing to test it.

[2022-10-08 06:08] Andrei631 commented on #77
I edited the `super().__init__(buffer, width, height)` to `super().__init__(buffer, width, height, framebuf.MVLSB)` and now it's working, thanks for the help!

[2022-10-09 21:05] #77 closed, assigned to nobody

[2022-10-11 07:33] muranyia commented on #72
Yes. Jumper on, contrary to the wrong label.

On Wed, Apr 6, 2022, 21:38 ladyada ***@***.***> wrote: